---
import Layout from '../layouts/Layout.astro';
import DashboardV3 from '../components/DashboardV3.svelte';
---

<Layout title="Dashboard Carrera Educación UNESUM">
  <main>
    <DashboardV3 client:load />
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
  }
</style>
